/bccwj*/
/build/
/config/ja_gsd*
/corpus*/
/dist/
/electra*
/embedding*/
/ja_*
/log*
/megagonlabs/
/models/
/old/
/rtx*
/submodules/
/sudachi*
/target/
/test/
/vector*
/venv*
__pycache__/
*.pyc
*.egg-info/
.DS_Store