plac<1.0.0,>=0.9.6
gensim>=3.6.0
msgpack==0.5.6
spacy[cuda100]==2.2.0
SudachiPy>=0.4.0
https://github.com/megagonlabs/ginza/releases/download/v2.1.1/SudachiDict_core-20190927.tar.gz
https://github.com/megagonlabs/ginza/releases/download/v2.1.1/ja_ginza-2.1.1.tar.gz
